<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">

  <title>HuntBoard</title>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="/js/frameworks/jquery-3.4.1.min.js"></script>
  <script src="/bootstrap/js/popper.min.js"></script>
  <script src="/bootstrap/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container-fluid" style="height: 100%">
  <div class="row">
    <div class="col-md-12"><h3>Whiteboard Demo</h3></div>
  </div>
  <%= yield %>
</div>



</body>
</html>
