<div class="row" style="height: 100%">
  <div id="board" class="col-md-12" style="height: 100%">

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="/js/controllers/demoController.js"></script>