<style>
  .card {
    border: 2px solid black;
    padding: 10px;
    width: 200px;
    touch-action: none;
    user-select: none;
  }

  html,body {
    height:100%;
  }
</style>

<div class="row" style="height: 100%">
  <div id="board" class="col-md-12" style="height: 100%">

  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
<script src="/js/controllers/demoController.js"></script>
<script src="/assets/application.js"></script>
