
/*
This style sheet is for css that works regardless of theme
 */

/*
The root partial class allows us to define variables for reuse later in css.
More can be found here: https://developer.mozilla.org/en-US/docs/Web/CSS/Using_CSS_custom_properties
*/

:root {
    --primary-color: #423e40;
    --secondary-color: #d9d7d7;
    --default-border: #828486;
    --secondary-border: var(--primary-color);
}

html,body {
    height:100%;
}

.card {
    border: 2px;
    padding: 10px;
    width: 200px;
    touch-action: none;
    user-select: none;
}